@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --page-padding-default: 40px;
    --page-padding-small: 10px;
}

html {
    &.light {
        background: linear-gradient(to bottom, #e5e5e5 0%, #ffffff 100%);
    }
}
